#content{
    background-color: transparent;
    margin-top: 61px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    position: relative;
    overflowX: hidden;
    z-index: 0;
}

#scroll-div{
    background-color: transparent;
    flex: 1; /* occupy the rest of the remaining space */
    position: relative;
    z-index: 1;
    flex: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;

}

/* ======================== landing page ======================== */
#landing-page{
    background-color: var(--base-color);
    padding: 60px 0 60px 200px;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-bottom-color);

}
#landing-page #text-div{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#landing-page #h1-box{
    background-color: transparent;
    text-align: center;
    color: var(--heading-color);
    font-family: sans-serif;
    font-size: 40px;
    padding-bottom: 10px;
    display: flex;
    margin: auto;
}

#landing-page #p-box{
    background-color: transparent;
    text-align: center;
    color: var(--light-text-color);
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    margin: auto;
    padding-bottom: 15px;
}
#landing-page #search-contact-box #search-contact{
    background-color: var(--input-background);
    width: 400px;
    font-family: sans-serif;
    padding: 10px 15px 10px 15px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
}
#landing-page #search-contact-box #search-contact::placeholder{
    font-family: sans-serif;
    color: var(--placeholder-color);
}
#landing-page #add-contact-btn{
    background-color: var(--primary-color);
    color: white;
    font-family: sans-serif;
    margin: 20px 0;
    padding: 15px 40px;
    border: none;
    border-radius: 20px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
#landing-page #add-contact-btn:hover{
    transform: scale(1.1);
}

#landing-page #action-btns{
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
#landing-page #action-btns .action-btn{
    background-color: var(--button-grey);
    color: var(--text-color);
    font-family: sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    margin-right: 10px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
#landing-page #action-btns .action-btn:hover,active{
    transform: scale(1.08);
    color: var(--primary-color);
}

/* ======================== contacts page ======================== */
#contacts-page{
    background-color: var(--base-color);
    padding: 60px 0 60px 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid var(--border-bottom-color);
}
#contacts-page #text{
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: start;
    padding-left: 40px;

}
#contacts-page #text h1{
    margin: auto;
    text-align: left;
    color: var(--heading-color);
    font-family: sans-serif;
    font-size: 35px;
}
#contacts-page #text p{
    margin-top: 15px;
    color: var(--light-text-color);
    font-family: sans-serif;
    font-size: 16px;
}


#contacts-page #contact-list-box{
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    padding-right: 40px;
    margin-left: 200px;
    cursor: pointer;

}
#contacts-page .contact-list{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    width: 400px;
    border: 1px solid var(--border-color);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    transition: all ease-in-out 0.3s;

}
#contacts-page .contact-list:hover{
    transform: scale(1.1);
}
.contact-list .contact-profile-pic{
    background-color: transparent;
    height: 45px;
    width: 45px;
    border: 1px solid var(--heading-color);
    border-radius: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 20px;

}
.contact-list .contact-profile-pic::after{
    content: '';
    position: absolute;
    background-color: var(--search-bar-icon-color);
    height: 100%;
    width:4%;
    top: 0;
    left: 53px;
    border-radius: 20px;
    transition: all ease-in-out 0.3s;
}
.contact-list .contact-profile-pic:hover::after{
    background-color: var(--primary-color);
}
.contact-list .contact-profile-details{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: start;
    position: relative;

}
.contact-list .contact-profile-details .contact-name{
    margin: auto;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
}
.contact-list .contact-profile-details .contact-number{
    margin-top: 5px;
    margin-bottom: 0;
    background-color: transparent;
    position: relative;
    font-family: sans-serif;
    font-size: 14px;
    color: var(--light-text-color);
}

#more-btn{
    background-color: var(--primary-color);
    font-family: sans-serif;
    color: white;
    border: none;
    border-radius: 100px;
    padding:  20px 15px;
    transition: all ease-in-out 0.3s;
    animation: animate 2s infinite ease-in-out;
    margin-left: 5px;
}
@keyframes animate{
    0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}

}

#more-btn i{
    margin-left: 5px;
    transform: scale(1.3);
}

/* ======================== add contacts page ======================== */
#add-contact-page{
    background-color: var(--base-color);
    padding: 60px 0 60px 200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid var(--border-bottom-color);
}
#add-contact-page #text-box{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-family: sans-serif;
    margin-bottom: 40px;
}

#add-contact-page  #text-box h1{
    color: var(--heading-color);
    font-size: 35px;
    align-self: start;
    margin-top: 0;
    margin-bottom: 10px;
}
#add-contact-page  #text-box p{
    color: var(--light-text-color);
    font-size: 16px;
    align-self: center;
}


#add-contact-page form{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 40px 40px 40px;
}
#add-contact-page form #name-surname{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

#add-contact-page form #name-surname label{
    color: var(--text-color);
    font-family: sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
}

#add-contact-page form #name-surname #firstname{
    background-color: var(--input-background);
    font-family: sans-serif;
    padding: 10px 15px 10px 15px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    width: 400px;
}

#add-contact-page form #name-surname #firstname::placeholder{
    font-family: sans-serif;
    color: var(--placeholder-color);
}


#add-contact-page form #name-surname #lastname{
    background-color: var(--input-background);
    font-family: sans-serif;
    padding: 10px 15px 10px 15px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    width: 400px;
}

#add-contact-page form #name-surname #lastname::placeholder{
    font-family: sans-serif;
    color: var(--placeholder-color);
}

#add-contact-page form #name-surname #name-box{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
#add-contact-page form #name-surname #surname-box{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 80px;
}


#add-contact-page form #phone-email{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

#add-contact-page form #phone-email label{
    color: var(--text-color);
    font-family: sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
}

#add-contact-page form #phone-email #phone{
    background-color: var(--input-background);
    font-family: sans-serif;
    padding: 10px 15px 10px 15px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    width: 400px;
}

#add-contact-page form #phone-email #phone::placeholder{
    font-family: sans-serif;
    color: var(--placeholder-color);
}
#add-contact-page form #phone-email #email{
    background-color: var(--input-background);
    font-family: sans-serif;
    padding: 10px 15px 10px 15px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    width: 400px;
}

#add-contact-page form #phone-email #email::placeholder{
    font-family: sans-serif;
    color: var(--placeholder-color);
}

#add-contact-page form #category-image-box label{
    color: var(--text-color);
    font-family: sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
}
#add-contact-page form #category-image-box #category{
    background-color: transparent;
    font-family: sans-serif;
    padding: 0px 15px 0px 5px;
    border: none;
    width: 400px;
}



#add-contact-page form #phone-email #phone-box{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
#add-contact-page form #phone-email #email-box{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 80px;
}
#add-contact-page form #category-image-box #category-box{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 80px;
}

#add-contact-page form #category-image-box #category-box #category .cat-btn{
    padding: 12px 10px;
    font-family: sans-serif;
    color: var(--text-color);
    background-color: var(--button-grey);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}
#add-contact-page form #category-image-box #category-box #category .cat-btn:hover{
    transform: scale(1.07);
}
#add-contact-page form #category-image-box #category-box #category .cat-btn:focus{
    transform: scale(1);
    background-color: var(--secondary-color);
    color: white;
}
#add-contact-page form #category-image-box{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: start;
    align-self: start;
    margin-bottom: 40px;
}
#add-contact-page form #category-image-box #image{
   background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}


#add-contact-page form #category-image-box label{
    color: var(--text-color);
    font-family: sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
}

#add-contact-page form #category-image-box #avatar{
    background-color: var(--input-background);
    font-family: sans-serif;
    padding: 10px 15px 10px 15px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    width: 400px;
}


#add-contact-page form #save-contact{
    padding: 15px 60px;
    font-family: sans-serif;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    visibility: visible;
}

#add-contact-page form #save-contact:hover{
    transform: scale(1.1);
}



/* =========================  recent contacts page ======================== */
#recent-contacts-page{
    background-color: var(--base-color);
    padding: 60px 0 60px 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid var(--border-bottom-color);
}
#recent-contacts-page #text-container{
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: start;
    padding-left: 40px;

}
#recent-contacts-page #text-container h1{
    margin: auto;
    text-align: left;
    color: var(--heading-color);
    font-family: sans-serif;
    font-size: 35px;
}
#recent-contacts-page #text-container p{
    margin-top: 15px;
    color: var(--light-text-color);
    font-family: sans-serif;
    font-size: 16px;
}

#recent-contacts-page #recent-contact-list-box{
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    padding-right: 40px;
    margin-left: 50px;
    cursor: pointer;

}
#recent-contacts-page .contact-list{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    width: 400px;
    border: 1px solid var(--border-color);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    transition: all ease-in-out 0.3s;

}
#recent-contacts-page .contact-list:hover{
    transform: scale(1.1);
}
.recent-contact-list .contact-profile-pic{
    background-color: transparent;
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 20px;

}
.contact-list .contact-profile-pic::after{
    content: '';
    position: absolute;
    background-color: var(--placeholder-color);
    height: 100%;
    width:4%;
    top: 0;
    left: 53px;
    border-radius: 20px;
    transition: all ease-in-out 0.3s;
}
.contact-list .contact-profile-pic:hover::after{
    background-color: var(--primary-color);
}
.contact-list .contact-profile-details{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: start;
    position: relative;

}
.contact-list .contact-profile-details .contact-name{
    margin: auto;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
}
.contact-list .contact-profile-details .contact-number{
    margin-top: 5px;
    margin-bottom: 0;
    background-color: transparent;
    position: relative;
    font-family: sans-serif;
    font-size: 14px;
    color: var(--light-text-color);
}
#see-more-btn{
    background-color: var(--primary-color);
    font-family: sans-serif;
    color: white;
    border: none;
    border-radius: 100px;
    padding:  20px 15px;
    transition: all ease-in-out 0.3s;
    animation: animate 2s infinite ease-in-out;
}
@keyframes animate{
    0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}

}

#see-more-btn i{
    margin-left: 5px;
    transform: scale(1.3);
}




/* ======================== footer ======================== */

.footer {
    padding: 60px 0 60px 200px;
    background-color: var(--footer-color);
    color: var(--base-color);
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info, .social-media, .legal {
    flex: 1;
    margin: 10px;
}
.contact-info{
    margin: 10px 10px 10px 200px;
}
.social-media{
    background-color: transparent;
    width: fit-content;
    text-align: start;
    position: relative;
    right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.footer-container ul{
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-container ul li{
    margin-right: 40px;
}
.footer-container ul li a i{
    transform: scale(2);
    transition: all ease-in-out 0.3s;
}
.footer-container ul li a i:hover{
    transform: scale(2.5);
}
h4 {
    font-family: sans-serif;
    margin-bottom: 10px;
}

p, a {
    font-family: sans-serif;
    font-size: 14px;
    color: var(--footer-a-color);
    margin: 5px 0;
    text-decoration: none;
}

a:hover {
    color: var(--base-color);
}

.copyright {
    font-family: sans-serif;
    margin-left: 200px;
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
}

/* ======= practice page ====== */
#practice{
    background-color: var(--base-color);
    padding: 60px 0 60px 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}

